In [0]:
CREATE DATABASE HR_DATA ;

USE HR_DATA;

CREATE TABLE EMPLOYEE
(
    ID INT,
    NAME VARCHAR(100),
    SALARY DECIMAL(10,2),
    DEPARTMENT VARCHAR(100)
    
);


INSERT INTO EMPLOYEE VALUES (1,'SAI',100,'HR'),(2,'SAIRAM',1000,'HR');


CREATE OR REPLACE VIEW VW_EMPLOYEE_DATA
AS

SELECT ID,NAME,SALARY,DEPARTMENT FROM EMPLOYEE WHERE DEPARTMENT = 'HR'